In [1]:
import pandas as pd

In [2]:
nationalityTrends2010=pd.read_excel(io='real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [3]:

nationalityTrends2011=pd.read_excel(io='real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [4]:

nationalityTrends2012=pd.read_excel(io='real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [5]:
nationalityTrends2013=pd.read_excel(io='real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [6]:
nationalityTrends2014=pd.read_excel(io='real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [7]:
nationalityTrends2015=pd.read_excel(io='real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [8]:
nationalityTrends2016=pd.read_excel(io='real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [9]:
nationalityTrends2017=pd.read_excel(io='real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [10]:
nationalityTrends2018=pd.read_excel(io='real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [11]:
nationalityTrends2019=pd.read_excel(io='real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [12]:

nationalityTrends2020=pd.read_excel(io='real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [13]:
nationalityTrends2010["Year"] = 2010
nationalityTrends2011["Year"] = 2011
nationalityTrends2012["Year"] = 2012
nationalityTrends2013["Year"] = 2013
nationalityTrends2014["Year"] = 2014
nationalityTrends2015["Year"] = 2015
nationalityTrends2016["Year"] = 2016
nationalityTrends2017["Year"] = 2017
nationalityTrends2018["Year"] = 2018
nationalityTrends2019["Year"] = 2019
nationalityTrends2020["Year"] = 2020

In [14]:
nationalityTrends = pd.concat([nationalityTrends2010, nationalityTrends2011, nationalityTrends2012, nationalityTrends2013, nationalityTrends2014, nationalityTrends2015, nationalityTrends2016, nationalityTrends2017, nationalityTrends2018, nationalityTrends2019, nationalityTrends2020], ignore_index=True)

In [15]:
nationalityTrends = nationalityTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Gemeinde": "District", "nationaggr3_desc": "Nationality", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [16]:
nationalityTrends = nationalityTrends.fillna(method='ffill', axis=0)

In [17]:
nationalityTrends

,Month,Day,District,Nationality,Arrivals,Present,Year
0,1.0,1.0,Abtei,Andere Länder,33,365,2010
1,1.0,1.0,Abtei,Beneluxstaaten,8,74,2010
2,1.0,1.0,Abtei,Deutschland,27,1198,2010
3,1.0,1.0,Abtei,Italien,457,7054,2010
4,1.0,1.0,Abtei,Schweiz und Liechtenstein,0,22,2010
...,...,...,...,...,...,...,...
2220450,12.0,31.0,Welschnofen,Italien,0,13,2020
2220451,12.0,31.0,Wengen,Italien,0,12,2020
2220452,12.0,31.0,Wolkenstein in Gröden,Andere Länder,0,6,2020
2220453,12.0,31.0,Wolkenstein in Gröden,Beneluxstaaten,0,2,2020
2220454,12.0,31.0,Wolkenstein in Gröden,Italien,0,19,2020

In [19]:
nationalityTrendsGrouped = nationalityTrends.groupby(['Year','Month', 'Nationality']).sum()
del nationalityTrendsGrouped["Day"]
nationalityTrendsGrouped

                                      Arrivals  Present
Year Month Nationality
2010 1.0   Andere Länder                 64943   371009
           Beneluxstaaten                13436    74135
           Deutschland                  173036   922869
           Italien                      242283  1163671
           Schweiz und Liechtenstein      6394    27680
...                                        ...      ...
2020 12.0  Beneluxstaaten                  193      691
           Deutschland                    1644     8074
           Italien                       26243    79622
           Schweiz und Liechtenstein       456     1720
           Österreich                     1078     3104

[792 rows x 2 columns]

In [20]:
nationalityTrendsGrouped.to_csv('nationality_trends.csv')