In [1]:
import pandas as pd

In [2]:
nationalityTrends2010=pd.read_excel(io='real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [3]:

nationalityTrends2011=pd.read_excel(io='real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [4]:

nationalityTrends2012=pd.read_excel(io='real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [5]:
nationalityTrends2013=pd.read_excel(io='real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [6]:
nationalityTrends2014=pd.read_excel(io='real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [7]:
nationalityTrends2015=pd.read_excel(io='real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [8]:
nationalityTrends2016=pd.read_excel(io='real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [9]:
nationalityTrends2017=pd.read_excel(io='real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [10]:
nationalityTrends2018=pd.read_excel(io='real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [11]:
nationalityTrends2019=pd.read_excel(io='real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [12]:

nationalityTrends2020=pd.read_excel(io='real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [13]:
nationalityTrends2010["Year"] = 2010
nationalityTrends2011["Year"] = 2011
nationalityTrends2012["Year"] = 2012
nationalityTrends2013["Year"] = 2013
nationalityTrends2014["Year"] = 2014
nationalityTrends2015["Year"] = 2015
nationalityTrends2016["Year"] = 2016
nationalityTrends2017["Year"] = 2017
nationalityTrends2018["Year"] = 2018
nationalityTrends2019["Year"] = 2019
nationalityTrends2020["Year"] = 2020

In [14]:
nationalityTrends = pd.concat([nationalityTrends2010, nationalityTrends2011, nationalityTrends2012, nationalityTrends2013, nationalityTrends2014, nationalityTrends2015, nationalityTrends2016, nationalityTrends2017, nationalityTrends2018, nationalityTrends2019, nationalityTrends2020], ignore_index=True)

In [15]:
nationalityTrends = nationalityTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Gemeinde": "District", "nationaggr3_desc": "Nationality", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [16]:
nationalityTrends = nationalityTrends.fillna(method='ffill', axis=0)

In [17]:
nationalityTrends

,Month,Day,District,Nationality,Arrivals,Present,Year
0,1.0,1.0,Abtei,Andere Länder,33,365,2010
1,1.0,1.0,Abtei,Beneluxstaaten,8,74,2010
2,1.0,1.0,Abtei,Deutschland,27,1198,2010
3,1.0,1.0,Abtei,Italien,457,7054,2010
4,1.0,1.0,Abtei,Schweiz und Liechtenstein,0,22,2010
...,...,...,...,...,...,...,...
2220450,12.0,31.0,Welschnofen,Italien,0,13,2020
2220451,12.0,31.0,Wengen,Italien,0,12,2020
2220452,12.0,31.0,Wolkenstein in Gröden,Andere Länder,0,6,2020
2220453,12.0,31.0,Wolkenstein in Gröden,Beneluxstaaten,0,2,2020
2220454,12.0,31.0,Wolkenstein in Gröden,Italien,0,19,2020

In [18]:
nationalityTrendsGrouped = nationalityTrends.groupby(['Year','Month', 'District', 'Nationality']).sum()
del nationalityTrendsGrouped["Day"]
nationalityTrendsGrouped

                                                            Arrivals  Present
Year Month District              Nationality
2010 1.0   Abtei                 Andere Länder                  4509    25650
                                 Beneluxstaaten                  464     3056
                                 Deutschland                    6603    41213
                                 Italien                       19425   105835
                                 Schweiz und Liechtenstein       161      855
...                                                              ...      ...
2020 12.0  Wolkenstein in Gröden Beneluxstaaten                    4       40
                                 Deutschland                      30      133
                                 Italien                         218     1010
                                 Schweiz und Liechtenstein        37      134
                                 Österreich                       72      291

[85754 rows x 2 columns]

In [19]:
nationalityTrendsGrouped.to_csv('nationality_trends.csv')

In [20]:
nationalityTrendsGrouped = pd.read_csv('nationality_trends.csv')

In [22]:
nationalityTrendsGrouped['Nationality'].unique()

array(['Andere Länder', 'Beneluxstaaten', 'Deutschland', 'Italien',
       'Schweiz und Liechtenstein', 'Österreich'], dtype=object)

In [23]:
nationalityTrendsGrouped['Nationality'] = nationalityTrendsGrouped['Nationality'].replace({'Andere Länder': 'Other countries', 'Beneluxstaaten': 'Benelux countries', 'Deutschland': 'Germany', 'Italien': 'Italy', 'Schweiz und Liechtenstein': 'Switzerland and Liechtenstein', 'Österreich': 'Austria'})

In [24]:
nationalityTrendsGrouped['Nationality'].unique()

array(['Other countries', 'Benelux countries', 'Germany', 'Italy',
       'Switzerland and Liechtenstein', 'Austria'], dtype=object)

In [29]:
temp  = nationalityTrendsGrouped

In [32]:
# Wipptal - Alta Valle Isarco
temp['District'] = temp['District'].replace({'Brenner': 'Alta Valle Isarco', 'Franzensfeste': 'Alta Valle Isarco', 'Freienfeld': 'Alta Valle Isarco', 'Pfitsch': 'Alta Valle Isarco', 'Ratschings': 'Alta Valle Isarco', 'Sterzing': 'Alta Valle Isarco'})

In [56]:
# Pustertal - Val Pusteria
temp['District'] = temp['District'].replace({'Abtei': 'Val Pusteria', 'Ahrntal': 'Val Pusteria', 'Bruneck': 'Val Pusteria', 'Corvara': 'Val Pusteria', 'Enneberg': 'Val Pusteria', 'Gais': 'Val Pusteria', 'Gsies': 'Val Pusteria', 'Innichen': 'Val Pusteria', 'Kiens': 'Val Pusteria', 'Mühlwald': 'Val Pusteria', 'Niederdorf': 'Val Pusteria', 'Olang': 'Val Pusteria', 'Percha': 'Val Pusteria', 'Pfalzen': 'Val Pusteria', 'Prags': 'Val Pusteria', 'Prettau': 'Val Pusteria', 'Rasen-Antholz': 'Val Pusteria', 'Sand in Taufers': 'Val Pusteria', 'St.Lorenzen': 'Val Pusteria', 'St.Martin in Thurn': 'Val Pusteria', 'Sexten': 'Val Pusteria', 'Terenten': 'Val Pusteria', 'Toblach': 'Val Pusteria', 'Vintl': 'Val Pusteria', 'Welsberg-Taisten': 'Val Pusteria', 'Wengen': 'Val Pusteria'})

In [36]:
# Eisacktal - Valle Isarco
temp['District'] = temp['District'].replace({'Brixen': 'Valle Isarco', 'Barbian': 'Valle Isarco', 'Feldthurns': 'Valle Isarco', 'Klausen': 'Valle Isarco', 'Lajen': 'Valle Isarco', 'Lüsen': 'Valle Isarco', 'Mühlbach': 'Valle Isarco', 'Natz-Schabs': 'Valle Isarco', 'Rodeneck': 'Valle Isarco', 'Vahrn': 'Valle Isarco', 'Villanders': 'Valle Isarco', 'Villnöss': 'Valle Isarco', 'Waidbruck': 'Valle Isarco'})

In [77]:
# Salten-Schlern - Salto-Schiliar
temp['District'] = temp['District'].replace({ 'Wolkenstein in Gröden': 'Salto-Schiliar', 'Deutschnofen': 'Salto-Schiliar', 'Jenesien': 'Salto-Schiliar', 'Karneid': 'Salto-Schiliar', 'Kastelruth': 'Salto-Schiliar', 'Mölten': 'Salto-Schiliar', 'Ritten': 'Salto-Schiliar', 'St.Christina in Gröden': 'Salto-Schiliar', 'St.Ulrich': 'Salto-Schiliar', 'Sarntal': 'Salto-Schiliar', 'Tiers': 'Salto-Schiliar', 'Völs am Schlern': 'Salto-Schiliar', 'Welschnofen': 'Salto-Schiliar'})

In [75]:
# Uberetsch-Unterland - Oltradige-Bassa Ates.
temp['District'] = temp['District'].replace({'Eppan a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kaltern a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Aldein': 'Oltradige-Bassa Ates.', 
                                             'Altrei': 'Oltradige-Bassa Ates.', 
                                             'Auer': 'Oltradige-Bassa Ates.', 
                                             'Branzoll': 'Oltradige-Bassa Ates.', 
                                             'Kurtatsch a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kurtinig a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Leifers': 'Oltradige-Bassa Ates.', 
                                             'Margreid a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Montan': 'Oltradige-Bassa Ates.', 
                                             'Neumarkt': 'Oltradige-Bassa Ates.', 
                                             'Pfatten': 'Oltradige-Bassa Ates.', 
                                             'Salurn': 'Oltradige-Bassa Ates.', 
                                             'Tramin a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Truden im Naturpark': 'Oltradige-Bassa Ates.', 
                                             'Andrian': 'Oltradige-Bassa Ates.', 
                                             'Terlan': 'Oltradige-Bassa Ates.'})

In [69]:
# Burggrafenamt - Burgraviato
temp['District'] = temp['District'].replace({'Algund': 'Burggrafenamt',
'Burgstall': 'Burggrafenamt',
'Gargazon': 'Burggrafenamt',
'Hafling': 'Burggrafenamt',
'Kuens': 'Burggrafenamt',
'Lana': 'Burggrafenamt',
'Laurein': 'Burggrafenamt',
'Marling': 'Burggrafenamt',
'Meran': 'Burggrafenamt',
'Moos in Passeier': 'Burggrafenamt',
'Nals': 'Burggrafenamt',
'Naturns': 'Burggrafenamt',
'Partschins': 'Burggrafenamt',
'Plaus': 'Burggrafenamt',
'Proveis': 'Burggrafenamt',
'Riffian': 'Burggrafenamt',
'St.Leonhard in Passeier': 'Burggrafenamt',
'St.Martin in Passeier': 'Burggrafenamt',
'St.Pankraz': 'Burggrafenamt',
'Schenna': 'Burggrafenamt',
'Tirol': 'Burggrafenamt',
'Tisens': 'Burggrafenamt',
'Tscherms': 'Burggrafenamt',
'Ulten': 'Burggrafenamt',
'U.L.Frau i.W.-St.Felix': 'Burggrafenamt',
'Vöran': 'Burggrafenamt'})

In [71]:
# Vinschgau - Val Venosta
temp['District'] = temp['District'].replace({ 'Glurns': 'Val Venosta', 
                                             'Graun im Vinschgau': 'Val Venosta', 
                                             'Kastelbell-Tschars': 'Val Venosta', 
                                             'Laas': 'Val Venosta', 
                                             'Latsch': 'Val Venosta', 
                                             'Mals': 'Val Venosta', 
                                             'Martell': 'Val Venosta', 
                                             'Prad am Stilfser Joch': 'Val Venosta',  
                                             'Schluderns': 'Val Venosta', 
                                             'Schnals': 'Val Venosta', 
                                             'Stilfs': 'Val Venosta', 
                                             'Taufers im Münstertal': 'Val Venosta'})

In [48]:
# Bozen - Bolzano
temp['District'] = temp['District'].replace({'Bozen': 'Bolzano'})

In [78]:
temp['District'].unique()

array(['Val Pusteria', 'Oltradige-Bassa Ates.', 'Burggrafenamt',
       'Valle Isarco', 'Bolzano', 'Alta Valle Isarco', 'Salto-Schiliar',
       'Val Venosta'], dtype=object)

In [79]:
nationalityTrendsDistrict = temp.groupby(['Year','Month', 'District', 'Nationality']).sum()

In [80]:
nationalityTrendsDistrict

                                                            Arrivals  Present
Year Month District          Nationality
2010 1.0   Alta Valle Isarco Austria                             633     1557
                             Benelux countries                   414     2235
                             Germany                           17896    74106
                             Italy                             10674    45831
                             Other countries                     840     3928
...                                                              ...      ...
2020 12.0  Valle Isarco      Benelux countries                    16       77
                             Germany                             197      830
                             Italy                              3055     7611
                             Other countries                     108      537
                             Switzerland and Liechtenstein        30      107

[6321 rows x 2 columns]

In [90]:
nationalityTrendsDistrict.to_csv('nationality_trends_dictionary.csv')

In [95]:
districtTrends = pd.read_csv('nationality_trends_dictionary.csv')

In [96]:
districtTrends = districtTrends.groupby(['Year','Month', 'District']).sum()

In [97]:
districtTrends

                                  Arrivals  Present
Year Month District
2010 1.0   Alta Valle Isarco         30737   128567
           Bolzano                   14573    33404
           Burggrafenamt             26365   137782
           Oltradige-Bassa Ates.      9238    47312
           Salto-Schiliar           116799   647742
...                                    ...      ...
2020 12.0  Oltradige-Bassa Ates.      2240    13210
           Salto-Schiliar             4002    12918
           Val Pusteria              10826    32659
           Val Venosta                1525     7080
           Valle Isarco               3515     9442

[1056 rows x 2 columns]