In [1]:
import pandas as pd

In [2]:
categoryTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [3]:

categoryTrends2011=pd.read_excel(io='../real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [4]:

categoryTrends2012=pd.read_excel(io='../real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [5]:
categoryTrends2013=pd.read_excel(io='../real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [6]:
categoryTrends2014=pd.read_excel(io='../real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [7]:
categoryTrends2015=pd.read_excel(io='../real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [8]:
categoryTrends2016=pd.read_excel(io='../real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [9]:
categoryTrends2017=pd.read_excel(io='../real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [10]:
categoryTrends2018=pd.read_excel(io='../real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [11]:
categoryTrends2019=pd.read_excel(io='../real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [12]:

categoryTrends2020=pd.read_excel(io='../real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [31]:
categoryTrends2010["Year"] = 2010
categoryTrends2011["Year"] = 2011
categoryTrends2012["Year"] = 2012
categoryTrends2013["Year"] = 2013
categoryTrends2014["Year"] = 2014
categoryTrends2015["Year"] = 2015
categoryTrends2016["Year"] = 2016
categoryTrends2017["Year"] = 2017
categoryTrends2018["Year"] = 2018
categoryTrends2019["Year"] = 2019
categoryTrends2020["Year"] = 2020

In [49]:
categoryTrends = pd.concat([categoryTrends2010, categoryTrends2011, categoryTrends2012, categoryTrends2013, categoryTrends2014, categoryTrends2015, categoryTrends2016, categoryTrends2017, categoryTrends2018, categoryTrends2019, categoryTrends2020], ignore_index=True)

In [50]:
categoryTrends = categoryTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Bezirksgemeinschaft": "District", "ctt1aggr_desc": "Category", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [51]:
categoryTrends = categoryTrends.fillna(method='ffill', axis=0)

In [52]:
del categoryTrends["verband_desc"]

In [53]:
categoryTrends.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273146 entries, 0 to 273145
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Month     273146 non-null  float64
 1   Day       273146 non-null  float64
 2   District  273146 non-null  object
 3   Category  273146 non-null  object
 4   Arrivals  273146 non-null  int64
 5   Present   273146 non-null  int64
 6   Year      273146 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 14.6+ MB

In [54]:
pd.options.display.float_format = "{:.2f}".format

In [55]:
categoryTrends.describe()

          Month       Day  Arrivals   Present      Year
count 273146.00 273146.00 273146.00 273146.00 273146.00
mean       6.53     15.73    257.86   1194.77   2015.03
std        3.40      8.82    509.65   2070.17      3.07
min        1.00      1.00      0.00      0.00   2010.00
25%        4.00      8.00     18.00     97.00   2012.00
50%        7.00     16.00     80.00    384.00   2015.00
75%        9.00     23.00    265.00   1338.00   2018.00
max       12.00     31.00  12954.00  21384.00   2020.00

In [56]:
categoryTrendsForAnalysis = categoryTrends

categoryTrendsForAnalysis['Category'] = categoryTrendsForAnalysis['Category'].replace({'1-2 Sterne': '1-2 Star Hotel', '3 Sterne': '3 Star Hotel', '4-5 Sterne': '4-5 Star Hotel', 'Andere Betriebe': 'Other', 'Privatquartiere': 'Private Lodging', 'Urlaub auf dem Bauernhof': 'Agricaltural Lodging', 'Campingplätze': 'Campings', 'Residence': 'Residence', 'Privatquartiere mit Vertrag': 'Private Lodging'})

categoryTrendsForAnalysis = categoryTrendsForAnalysis.groupby(['Category', 'Day', 'Month', 'Year']).sum().reset_index()

In [57]:
categoryTrendsForAnalysis.groupby(['Category'])[['Arrivals', 'Present']].describe()[[('Arrivals', 'mean'), ('Arrivals', 'std'), ('Arrivals', 'min'), ('Arrivals', 'max'), ('Present', 'mean'), ('Present', 'std'), ('Present', 'min'), ('Present', 'max')]]

                     Arrivals                        Present                  \
                         mean     std  min      max     mean      std    min
Category
1-2 Star Hotel        1633.12 1336.16 0.00  9692.00  7043.51  4790.66 194.00
3 Star Hotel          6388.09 4592.43 1.00 28386.00 26633.72 15565.99  32.00
4-5 Star Hotel        4956.69 3291.17 0.00 20316.00 22077.69 11116.84   9.00
Agricaltural Lodging  1025.98 1189.31 0.00  9364.00  6581.12  5371.48  62.00
Campings               830.58  841.34 0.00  4844.00  3845.30  3771.00   0.00
Other                  484.56  456.26 0.00  2563.00  1273.04  1079.16   4.00
Private Lodging       1006.09 1294.19 0.00 10418.00  6091.40  4942.27 144.00
Residence             1211.85 1518.62 0.00 11151.00  7710.04  5061.44 194.00


                          max
Category
1-2 Star Hotel       22124.00
3 Star Hotel         67240.00
4-5 Star Hotel       50256.00
Agricaltural Lodging 22320.00
Campings             16172.00
Other                 4611.00
Private Lodging      21042.00
Residence            20899.00

In [58]:
districtTrendsForAnalysis = categoryTrends[(categoryTrends['Year'] != 2014) & (categoryTrends['Year'] != 2016) & (categoryTrends['Year'] != 2017)]

districtTrendsForAnalysis = districtTrendsForAnalysis.groupby(['District', 'Day', 'Month', 'Year']).sum().reset_index()

In [59]:
districtTrendsForAnalysis.groupby(['District'])[['Arrivals', 'Present']].describe()[[('Arrivals', 'mean'), ('Arrivals', 'std'), ('Arrivals', 'min'), ('Arrivals', 'max'), ('Present', 'mean'), ('Present', 'std'), ('Present', 'min'), ('Present', 'max')]]

                       Arrivals                        Present           \
                           mean     std  min      max     mean      std
District
Bozen                    747.00  338.17 0.00  2011.00  1591.50   662.23
Burggrafenamt           3456.01 2904.90 0.00 13653.00 17457.65 12889.29
Eisacktal               1689.28 1283.45 0.00  7685.00  7156.30  4561.76
Pustertal               4964.69 5413.83 0.00 40269.00 24809.84 20259.74
Salten-Schlern          2704.83 3004.03 0.00 21577.00 14297.33 10702.09
Vinschgau               1333.92 1104.96 0.00  6250.00  5922.74  3881.50
Wipptal                  934.01  662.53 1.00  4491.00  3404.57  2108.86
Überetsch-Südt.Unterl.  1277.40 1001.46 0.00  4684.00  5482.21  4169.68


                          min      max
District
Bozen                  164.00  3221.00
Burggrafenamt           92.00 44774.00
Eisacktal               47.00 19876.00
Pustertal               73.00 75040.00
Salten-Schlern          38.00 40811.00
Vinschgau               19.00 17259.00
Wipptal                 66.00  9136.00
Überetsch-Südt.Unterl. 156.00 15627.00

In [43]:
categoryTrends['district_c'] = categoryTrends['District'].replace({'Bozen': 1, 'Burggrafenamt': 2, 'Eisacktal': 3, 'Pustertal': 4, 'Salten-Schlern': 5, 'Überetsch-Südt.Unterl.': 6, 'Vinschgau': 7, 'Wipptal': 8})

In [60]:
categoryTrends['Category'] = categoryTrends['Category'].replace({'1-2 Sterne': '1-2 Star Hotel', '3 Sterne': '3 Star Hotel', '4-5 Sterne': '4-5 Star Hotel', 'Andere Betriebe': 'Other', 'Privatquartiere': 'Private Lodging', 'Urlaub auf dem Bauernhof': 'Agricaltural Lodging', 'Campingplätze': 'Campings', 'Residence': 'Residence', 'Privatquartiere mit Vertrag': 'Private Lodging'})

In [61]:
categoryTrends = categoryTrends.groupby(['Year','Month', 'district_c', 'Category']).sum()
del categoryTrends["Day"]
categoryTrends

                                                        Arrivals  Present
Year Month District               Category
2010 1.00  Bozen                  1-2 Star Hotel            1356     6728
                                  3 Star Hotel              4941     9768
                                  4-5 Star Hotel            7265    14385
                                  Agricaltural Lodging        79      393
                                  Other                      867     1651
...                                                          ...      ...
2020 12.00 Überetsch-Südt.Unterl. 4-5 Star Hotel             432     1030
                                  Agricaltural Lodging       110     1895
                                  Other                        3       94
                                  Private Lodging             69     1809
                                  Residence                  324     3759

[6297 rows x 2 columns]

In [62]:
categoryTrends.to_csv('category_trends.csv')

In [63]:
districtTrends = pd.read_csv('category_trends.csv')

In [64]:
districtTrends['Season'] = districtTrends['Month']

districtTrends['Season'] = districtTrends['Season'].replace(1, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(2, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(12, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(3, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(4, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(5, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(6, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(7, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(8, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(9, 'Autumn')
districtTrends['Season'] = districtTrends['Season'].replace(10, 'Autumn')
districtTrends['Season'] = districtTrends['Season'].replace(11, 'Autumn')

districtTrends

,Year,Month,District,Category,Arrivals,Present,Season
0,2010,1.00,Bozen,1-2 Star Hotel,1356,6728,Winter
1,2010,1.00,Bozen,3 Star Hotel,4941,9768,Winter
2,2010,1.00,Bozen,4-5 Star Hotel,7265,14385,Winter
3,2010,1.00,Bozen,Agricaltural Lodging,79,393,Winter
4,2010,1.00,Bozen,Other,867,1651,Winter
...,...,...,...,...,...,...,...
6292,2020,12.00,Überetsch-Südt.Unterl.,4-5 Star Hotel,432,1030,Winter
6293,2020,12.00,Überetsch-Südt.Unterl.,Agricaltural Lodging,110,1895,Winter
6294,2020,12.00,Überetsch-Südt.Unterl.,Other,3,94,Winter
6295,2020,12.00,Überetsch-Südt.Unterl.,Private Lodging,69,1809,Winter
6296,2020,12.00,Überetsch-Südt.Unterl.,Residence,324,3759,Winter

In [25]:
districtTrends.to_csv('../data/category_trends.csv')

In [54]:
districtTrends = districtTrends.groupby(['Year','Category', 'district_c']).sum()
del districtTrends['Month']

In [56]:
districtTrends

                                Arrivals  Present
Year Category       district_c
2010 1-2 Star Hotel 1              22044    92518
                    2              89060   489974
                    3              74152   357277
                    4             195894  1072208
                    5              64669   340983
...                                  ...      ...
2020 Residence      4             144308   909884
                    5              58965   381895
                    6               9506    83261
                    7              39017   222617
                    8               7387    50753

[533 rows x 2 columns]

In [57]:
districtTrends.to_csv('category_trends_yearly.csv')

In [18]:
overall = pd.read_csv('../data/category_trends_yearly.csv')

In [20]:
overall[overall['Year'] == 2014]

     Year              Category  district_c  Arrivals  Present
253  2014        1-2 Star Hotel           6    586292  2494954
254  2014          3 Star Hotel           6   2282643  9476392
255  2014        4-5 Star Hotel           6   1722398  7647917
256  2014  Agricaltural Lodging           6    352746  2292824
257  2014              Campings           6    271707  1303190
258  2014                 Other           6    171810   448232
259  2014       Private Lodging           6    329013  2067585
260  2014             Residence           6    425480  2706795

In [21]:
overall = overall.groupby(['Year', 'district_c']).sum()

In [22]:
overall = overall.reset_index()
overall[overall['Year'] == 2014]

    Year  district_c  Arrivals   Present
32  2014           6   6142089  28437889

In [15]:
categories = pd.read_csv('../data/category_trends_yearly.csv')

In [16]:
categories['Year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [4]:
overall.to_csv('trends_yearly.csv')