In [3]:
import pandas as pd

In [4]:
categoryTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [5]:

categoryTrends2011=pd.read_excel(io='../real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [6]:

categoryTrends2012=pd.read_excel(io='../real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [7]:
categoryTrends2013=pd.read_excel(io='../real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [8]:
categoryTrends2014=pd.read_excel(io='../real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [9]:
categoryTrends2015=pd.read_excel(io='../real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [10]:
categoryTrends2016=pd.read_excel(io='../real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [11]:
categoryTrends2017=pd.read_excel(io='../real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [12]:
categoryTrends2018=pd.read_excel(io='../real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [13]:
categoryTrends2019=pd.read_excel(io='../real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [14]:

categoryTrends2020=pd.read_excel(io='../real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [15]:
categoryTrends2010["Year"] = 2010
categoryTrends2011["Year"] = 2011
categoryTrends2012["Year"] = 2012
categoryTrends2013["Year"] = 2013
categoryTrends2014["Year"] = 2014
categoryTrends2015["Year"] = 2015
categoryTrends2016["Year"] = 2016
categoryTrends2017["Year"] = 2017
categoryTrends2018["Year"] = 2018
categoryTrends2019["Year"] = 2019
categoryTrends2020["Year"] = 2020

In [16]:
categoryTrends = pd.concat([categoryTrends2010, categoryTrends2011, categoryTrends2012, categoryTrends2013, categoryTrends2014, categoryTrends2015, categoryTrends2016, categoryTrends2017, categoryTrends2018, categoryTrends2019, categoryTrends2020], ignore_index=True)

In [17]:
categoryTrends = categoryTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Bezirksgemeinschaft": "District", "ctt1aggr_desc": "Category", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [18]:
categoryTrends = categoryTrends.fillna(method='ffill', axis=0)

In [19]:
categoryTrends['district_c'] = categoryTrends['District'].replace({'Bozen': 1, 'Burggrafenamt': 2, 'Eisacktal': 3, 'Pustertal': 4, 'Salten-Schlern': 5, 'Überetsch-Südt.Unterl.': 6, 'Vinschgau': 7, 'Wipptal': 8})

In [20]:
categoryTrends['Category'] = categoryTrends['Category'].replace({'1-2 Sterne': '1-2 Star Hotel', '3 Sterne': '3 Star Hotel', '4-5 Sterne': '4-5 Star Hotel', 'Andere Betriebe': 'Other', 'Privatquartiere': 'Private Lodging', 'Urlaub auf dem Bauernhof': 'Agricaltural Lodging', 'Campingplätze': 'Campings', 'Residence': 'Residence', 'Privatquartiere mit Vertrag': 'Private Lodging'})

In [21]:
categoryTrends = categoryTrends.groupby(['Year','Month', 'district_c', 'Category']).sum()
del categoryTrends["Day"]
categoryTrends

                                            Arrivals  Present
Year Month district_c Category
2010 1.0   1          1-2 Star Hotel            1356     6728
                      3 Star Hotel              4941     9768
                      4-5 Star Hotel            7265    14385
                      Agricaltural Lodging        79      393
                      Other                      867     1651
...                                              ...      ...
2020 12.0  8          3 Star Hotel              1252     2862
                      4-5 Star Hotel            1811     3316
                      Agricaltural Lodging       105      628
                      Private Lodging             22      520
                      Residence                  242     1418

[6297 rows x 2 columns]

In [22]:
categoryTrends.to_csv('category_trends.csv')

In [23]:
districtTrends = pd.read_csv('category_trends.csv')

In [24]:
districtTrends['Season'] = districtTrends['Month']

districtTrends['Season'] = districtTrends['Season'].replace(1, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(2, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(12, 'Winter')
districtTrends['Season'] = districtTrends['Season'].replace(3, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(4, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(5, 'Spring')
districtTrends['Season'] = districtTrends['Season'].replace(6, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(7, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(8, 'Summer')
districtTrends['Season'] = districtTrends['Season'].replace(9, 'Autumn')
districtTrends['Season'] = districtTrends['Season'].replace(10, 'Autumn')
districtTrends['Season'] = districtTrends['Season'].replace(11, 'Autumn')

districtTrends

      Year  Month  district_c              Category  Arrivals  Present  Season
0     2010    1.0           1        1-2 Star Hotel      1356     6728  Winter
1     2010    1.0           1          3 Star Hotel      4941     9768  Winter
2     2010    1.0           1        4-5 Star Hotel      7265    14385  Winter
3     2010    1.0           1  Agricaltural Lodging        79      393  Winter
4     2010    1.0           1                 Other       867     1651  Winter
...    ...    ...         ...                   ...       ...      ...     ...
6292  2020   12.0           8          3 Star Hotel      1252     2862  Winter
6293  2020   12.0           8        4-5 Star Hotel      1811     3316  Winter
6294  2020   12.0           8  Agricaltural Lodging       105      628  Winter
6295  2020   12.0           8       Private Lodging        22      520  Winter
6296  2020   12.0           8             Residence       242     1418  Winter

[6297 rows x 7 columns]

In [25]:
districtTrends.to_csv('../data/category_trends.csv')

In [54]:
districtTrends = districtTrends.groupby(['Year','Category', 'district_c']).sum()
del districtTrends['Month']

In [56]:
districtTrends

                                Arrivals  Present
Year Category       district_c
2010 1-2 Star Hotel 1              22044    92518
                    2              89060   489974
                    3              74152   357277
                    4             195894  1072208
                    5              64669   340983
...                                  ...      ...
2020 Residence      4             144308   909884
                    5              58965   381895
                    6               9506    83261
                    7              39017   222617
                    8               7387    50753

[533 rows x 2 columns]

In [57]:
districtTrends.to_csv('category_trends_yearly.csv')

In [18]:
overall = pd.read_csv('../data/category_trends_yearly.csv')

In [20]:
overall[overall['Year'] == 2014]

     Year              Category  district_c  Arrivals  Present
253  2014        1-2 Star Hotel           6    586292  2494954
254  2014          3 Star Hotel           6   2282643  9476392
255  2014        4-5 Star Hotel           6   1722398  7647917
256  2014  Agricaltural Lodging           6    352746  2292824
257  2014              Campings           6    271707  1303190
258  2014                 Other           6    171810   448232
259  2014       Private Lodging           6    329013  2067585
260  2014             Residence           6    425480  2706795

In [21]:
overall = overall.groupby(['Year', 'district_c']).sum()

In [22]:
overall = overall.reset_index()
overall[overall['Year'] == 2014]

    Year  district_c  Arrivals   Present
32  2014           6   6142089  28437889

In [15]:
categories = pd.read_csv('../data/category_trends_yearly.csv')

In [16]:
categories['Year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

In [4]:
overall.to_csv('trends_yearly.csv')