In [1]:
import pandas as pd

In [3]:
nationalityTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [4]:

nationalityTrends2011=pd.read_excel(io='../real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [5]:

nationalityTrends2012=pd.read_excel(io='../real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [6]:
nationalityTrends2013=pd.read_excel(io='../real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [7]:
nationalityTrends2014=pd.read_excel(io='../real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [8]:
nationalityTrends2015=pd.read_excel(io='../real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [9]:
nationalityTrends2016=pd.read_excel(io='../real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [10]:
nationalityTrends2017=pd.read_excel(io='../real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [11]:
nationalityTrends2018=pd.read_excel(io='../real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [12]:
nationalityTrends2019=pd.read_excel(io='../real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [14]:
nationalityTrends2020=pd.read_excel(io='../real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [15]:
nationalityTrends2010["Year"] = 2010
nationalityTrends2011["Year"] = 2011
nationalityTrends2012["Year"] = 2012
nationalityTrends2013["Year"] = 2013
nationalityTrends2014["Year"] = 2014
nationalityTrends2015["Year"] = 2015
nationalityTrends2016["Year"] = 2016
nationalityTrends2017["Year"] = 2017
nationalityTrends2018["Year"] = 2018
nationalityTrends2019["Year"] = 2019
nationalityTrends2020["Year"] = 2020

In [16]:
nationalityTrends = pd.concat([nationalityTrends2010, nationalityTrends2011, nationalityTrends2012, nationalityTrends2013, nationalityTrends2014, nationalityTrends2015, nationalityTrends2016, nationalityTrends2017, nationalityTrends2018, nationalityTrends2019, nationalityTrends2020], ignore_index=True)

In [17]:
nationalityTrends = nationalityTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Gemeinde": "District", "nationaggr3_desc": "Nationality", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [18]:
nationalityTrends = nationalityTrends.fillna(method='ffill', axis=0)

In [19]:
nationalityTrends

,Month,Day,District,Nationality,Arrivals,Present,Year
0,1.0,1.0,Abtei,Andere Länder,33,365,2010
1,1.0,1.0,Abtei,Beneluxstaaten,8,74,2010
2,1.0,1.0,Abtei,Deutschland,27,1198,2010
3,1.0,1.0,Abtei,Italien,457,7054,2010
4,1.0,1.0,Abtei,Schweiz und Liechtenstein,0,22,2010
...,...,...,...,...,...,...,...
2220450,12.0,31.0,Welschnofen,Italien,0,13,2020
2220451,12.0,31.0,Wengen,Italien,0,12,2020
2220452,12.0,31.0,Wolkenstein in Gröden,Andere Länder,0,6,2020
2220453,12.0,31.0,Wolkenstein in Gröden,Beneluxstaaten,0,2,2020
2220454,12.0,31.0,Wolkenstein in Gröden,Italien,0,19,2020

In [20]:
nationalityTrendsGrouped = nationalityTrends.groupby(['Year','Month', 'District', 'Nationality']).sum()
del nationalityTrendsGrouped["Day"]
nationalityTrendsGrouped

                                                            Arrivals  Present
Year Month District              Nationality
2010 1.0   Abtei                 Andere Länder                  4509    25650
                                 Beneluxstaaten                  464     3056
                                 Deutschland                    6603    41213
                                 Italien                       19425   105835
                                 Schweiz und Liechtenstein       161      855
...                                                              ...      ...
2020 12.0  Wolkenstein in Gröden Beneluxstaaten                    4       40
                                 Deutschland                      30      133
                                 Italien                         218     1010
                                 Schweiz und Liechtenstein        37      134
                                 Österreich                       72      291

[85754 rows x 2 columns]

In [56]:
nationalityTrendsGrouped.to_csv('nationality_trends.csv')

In [57]:
nationalityTrendsGrouped = pd.read_csv('nationality_trends.csv')

In [58]:
nationalityTrendsGrouped['Nationality'].unique()

array(['Other countries', 'Benelux countries', 'Germany', 'Italy',
       'Switzerland and Liechtenstein', 'Austria'], dtype=object)

In [59]:
nationalityTrendsGrouped['Nationality'] = nationalityTrendsGrouped['Nationality'].replace({'Andere Länder': 'Other countries', 'Beneluxstaaten': 'Benelux countries', 'Deutschland': 'Germany', 'Italien': 'Italy', 'Schweiz und Liechtenstein': 'Switzerland and Liechtenstein', 'Österreich': 'Austria'})

In [60]:
nationalityTrendsGrouped['Nationality'].unique()

array(['Other countries', 'Benelux countries', 'Germany', 'Italy',
       'Switzerland and Liechtenstein', 'Austria'], dtype=object)

In [61]:
temp  = nationalityTrendsGrouped

In [62]:
# Wipptal - Alta Valle Isarco
temp['District'] = temp['District'].replace({'Brenner': 'Alta Valle Isarco', 'Franzensfeste': 'Alta Valle Isarco', 'Freienfeld': 'Alta Valle Isarco', 'Pfitsch': 'Alta Valle Isarco', 'Ratschings': 'Alta Valle Isarco', 'Sterzing': 'Alta Valle Isarco'})

In [63]:
# Pustertal - Val Pusteria
temp['District'] = temp['District'].replace({'Abtei': 'Val Pusteria', 'Ahrntal': 'Val Pusteria', 'Bruneck': 'Val Pusteria', 'Corvara': 'Val Pusteria', 'Enneberg': 'Val Pusteria', 'Gais': 'Val Pusteria', 'Gsies': 'Val Pusteria', 'Innichen': 'Val Pusteria', 'Kiens': 'Val Pusteria', 'Mühlwald': 'Val Pusteria', 'Niederdorf': 'Val Pusteria', 'Olang': 'Val Pusteria', 'Percha': 'Val Pusteria', 'Pfalzen': 'Val Pusteria', 'Prags': 'Val Pusteria', 'Prettau': 'Val Pusteria', 'Rasen-Antholz': 'Val Pusteria', 'Sand in Taufers': 'Val Pusteria', 'St.Lorenzen': 'Val Pusteria', 'St.Martin in Thurn': 'Val Pusteria', 'Sexten': 'Val Pusteria', 'Terenten': 'Val Pusteria', 'Toblach': 'Val Pusteria', 'Vintl': 'Val Pusteria', 'Welsberg-Taisten': 'Val Pusteria', 'Wengen': 'Val Pusteria'})

In [64]:
# Eisacktal - Valle Isarco
temp['District'] = temp['District'].replace({'Brixen': 'Valle Isarco', 'Barbian': 'Valle Isarco', 'Feldthurns': 'Valle Isarco', 'Klausen': 'Valle Isarco', 'Lajen': 'Valle Isarco', 'Lüsen': 'Valle Isarco', 'Mühlbach': 'Valle Isarco', 'Natz-Schabs': 'Valle Isarco', 'Rodeneck': 'Valle Isarco', 'Vahrn': 'Valle Isarco', 'Villanders': 'Valle Isarco', 'Villnöss': 'Valle Isarco', 'Waidbruck': 'Valle Isarco'})

In [65]:
# Salten-Schlern - Salto-Schiliar
temp['District'] = temp['District'].replace({ 'Wolkenstein in Gröden': 'Salto-Schiliar', 'Deutschnofen': 'Salto-Schiliar', 'Jenesien': 'Salto-Schiliar', 'Karneid': 'Salto-Schiliar', 'Kastelruth': 'Salto-Schiliar', 'Mölten': 'Salto-Schiliar', 'Ritten': 'Salto-Schiliar', 'St.Christina in Gröden': 'Salto-Schiliar', 'St.Ulrich': 'Salto-Schiliar', 'Sarntal': 'Salto-Schiliar', 'Tiers': 'Salto-Schiliar', 'Völs am Schlern': 'Salto-Schiliar', 'Welschnofen': 'Salto-Schiliar'})

In [66]:
# Uberetsch-Unterland - Oltradige-Bassa Ates.
temp['District'] = temp['District'].replace({'Eppan a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kaltern a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Aldein': 'Oltradige-Bassa Ates.', 
                                             'Altrei': 'Oltradige-Bassa Ates.', 
                                             'Auer': 'Oltradige-Bassa Ates.', 
                                             'Branzoll': 'Oltradige-Bassa Ates.', 
                                             'Kurtatsch a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kurtinig a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Leifers': 'Oltradige-Bassa Ates.', 
                                             'Margreid a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Montan': 'Oltradige-Bassa Ates.', 
                                             'Neumarkt': 'Oltradige-Bassa Ates.', 
                                             'Pfatten': 'Oltradige-Bassa Ates.', 
                                             'Salurn': 'Oltradige-Bassa Ates.', 
                                             'Tramin a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Truden im Naturpark': 'Oltradige-Bassa Ates.', 
                                             'Andrian': 'Oltradige-Bassa Ates.', 
                                             'Terlan': 'Oltradige-Bassa Ates.'})

In [67]:
# Burggrafenamt - Burgraviato
temp['District'] = temp['District'].replace({'Algund': 'Burggrafenamt',
'Burgstall': 'Burggrafenamt',
'Gargazon': 'Burggrafenamt',
'Hafling': 'Burggrafenamt',
'Kuens': 'Burggrafenamt',
'Lana': 'Burggrafenamt',
'Laurein': 'Burggrafenamt',
'Marling': 'Burggrafenamt',
'Meran': 'Burggrafenamt',
'Moos in Passeier': 'Burggrafenamt',
'Nals': 'Burggrafenamt',
'Naturns': 'Burggrafenamt',
'Partschins': 'Burggrafenamt',
'Plaus': 'Burggrafenamt',
'Proveis': 'Burggrafenamt',
'Riffian': 'Burggrafenamt',
'St.Leonhard in Passeier': 'Burggrafenamt',
'St.Martin in Passeier': 'Burggrafenamt',
'St.Pankraz': 'Burggrafenamt',
'Schenna': 'Burggrafenamt',
'Tirol': 'Burggrafenamt',
'Tisens': 'Burggrafenamt',
'Tscherms': 'Burggrafenamt',
'Ulten': 'Burggrafenamt',
'U.L.Frau i.W.-St.Felix': 'Burggrafenamt',
'Vöran': 'Burggrafenamt'})

In [68]:
# Vinschgau - Val Venosta
temp['District'] = temp['District'].replace({ 'Glurns': 'Val Venosta', 
                                             'Graun im Vinschgau': 'Val Venosta', 
                                             'Kastelbell-Tschars': 'Val Venosta', 
                                             'Laas': 'Val Venosta', 
                                             'Latsch': 'Val Venosta', 
                                             'Mals': 'Val Venosta', 
                                             'Martell': 'Val Venosta', 
                                             'Prad am Stilfser Joch': 'Val Venosta',  
                                             'Schluderns': 'Val Venosta', 
                                             'Schnals': 'Val Venosta', 
                                             'Stilfs': 'Val Venosta', 
                                             'Taufers im Münstertal': 'Val Venosta'})

In [69]:
# Bozen - Bolzano
temp['District'] = temp['District'].replace({'Bozen': 'Bolzano'})

In [70]:
temp['District'].unique()

array(['Val Pusteria', 'Oltradige-Bassa Ates.', 'Burggrafenamt',
       'Valle Isarco', 'Bolzano', 'Alta Valle Isarco', 'Salto-Schiliar',
       'Val Venosta', 'Schlanders'], dtype=object)

In [71]:
temp['district_c'] = temp['District'].replace({'Bolzano': 1, 'Burggrafenamt': 2, 'Valle Isarco': 3, 'Val Pusteria': 4, 'Salto-Schiliar': 5, 'Oltradige-Bassa Ates.': 6, 'Val Venosta': 7, 'Alta Valle Isarco': 8, 'Schlanders': 7})

In [72]:
temp['district_c'].unique()

array([4, 6, 2, 3, 1, 8, 5, 7], dtype=int64)

In [75]:
temp['Season'] = temp['Month']

temp['Season'] = temp['Season'].replace(1, 'Winter')
temp['Season'] = temp['Season'].replace(2, 'Winter')
temp['Season'] = temp['Season'].replace(12, 'Winter')
temp['Season'] = temp['Season'].replace(3, 'Spring')
temp['Season'] = temp['Season'].replace(4, 'Spring')
temp['Season'] = temp['Season'].replace(5, 'Spring')
temp['Season'] = temp['Season'].replace(6, 'Summer')
temp['Season'] = temp['Season'].replace(7, 'Summer')
temp['Season'] = temp['Season'].replace(8, 'Summer')
temp['Season'] = temp['Season'].replace(9, 'Autumn')
temp['Season'] = temp['Season'].replace(10, 'Autumn')
temp['Season'] = temp['Season'].replace(11, 'Autumn')

temp

,Unnamed: 0,Year,Month,District,Nationality,Arrivals,Present,district_c,Season
0,0,2010,1.0,Val Pusteria,Other countries,4509,25650,4,Winter
1,1,2010,1.0,Val Pusteria,Benelux countries,464,3056,4,Winter
2,2,2010,1.0,Val Pusteria,Germany,6603,41213,4,Winter
3,3,2010,1.0,Val Pusteria,Italy,19425,105835,4,Winter
4,4,2010,1.0,Val Pusteria,Switzerland and Liechtenstein,161,855,4,Winter
...,...,...,...,...,...,...,...,...,...
85749,85749,2020,12.0,Salto-Schiliar,Benelux countries,4,40,5,Winter
85750,85750,2020,12.0,Salto-Schiliar,Germany,30,133,5,Winter
85751,85751,2020,12.0,Salto-Schiliar,Italy,218,1010,5,Winter
85752,85752,2020,12.0,Salto-Schiliar,Switzerland and Liechtenstein,37,134,5,Winter
85753,85753,2020,12.0,Salto-Schiliar,Austria,72,291,5,Winter

In [76]:
temp.to_csv('../data/nationality_trends.csv')

In [77]:
yearly = temp.groupby(['Year', 'Month', 'Season', 'district_c']).sum()

In [78]:
yearly.to_csv('../data/overall_trends.csv')

In [101]:
nationalityTrendsDistrict = temp.groupby(['Year', 'district_c', 'Nationality']).sum()
del nationalityTrendsDistrict["Month"]

In [102]:
nationalityTrendsDistrict

                                               Arrivals  Present
Year district_c Nationality
2010 1          Austria                           20383    39817
                Benelux countries                  6688    13314
                Germany                           66961   154140
                Italy                            113705   251730
                Other countries                   41136    94395
...                                                 ...      ...
2020 8          Benelux countries                  7429    20767
                Germany                          117061   401457
                Italy                            102044   395669
                Other countries                   10258    42478
                Switzerland and Liechtenstein      6827    30622

[528 rows x 2 columns]

In [103]:
nationalityTrendsDistrict.to_csv('nationality_trends_dictionary.csv')

In [104]:
districtTrends = pd.read_csv('nationality_trends_dictionary.csv')

In [105]:
districtTrends

     Year  district_c                    Nationality  Arrivals  Present
0    2010           1                        Austria     20383    39817
1    2010           1              Benelux countries      6688    13314
2    2010           1                        Germany     66961   154140
3    2010           1                          Italy    113705   251730
4    2010           1                Other countries     41136    94395
..    ...         ...                            ...       ...      ...
523  2020           8              Benelux countries      7429    20767
524  2020           8                        Germany    117061   401457
525  2020           8                          Italy    102044   395669
526  2020           8                Other countries     10258    42478
527  2020           8  Switzerland and Liechtenstein      6827    30622

[528 rows x 5 columns]

In [107]:
districtTrends.groupby(['Year', 'district_c', 'Nationality']).sum()

                                               Arrivals  Present
Year district_c Nationality
2010 1          Austria                           20383    39817
                Benelux countries                  6688    13314
                Germany                           66961   154140
                Italy                            113705   251730
                Other countries                   41136    94395
...                                                 ...      ...
2020 8          Benelux countries                  7429    20767
                Germany                          117061   401457
                Italy                            102044   395669
                Other countries                   10258    42478
                Switzerland and Liechtenstein      6827    30622

[528 rows x 2 columns]

In [41]:
districtTrends.to_csv('../data/nationality_trends_yearly.csv')

NameError: name 'districtTrends' is not defined

In [4]:
ok = pd.read_csv('../data/nationality_trends_yearly.csv')

In [7]:
overall = ok.groupby(['Year', 'district_c']).sum()

In [8]:
overall = overall.reset_index()
overall[overall['Year'] == 2014]

    Year  district_c  Unnamed: 0  Arrivals  Present
32  2014           1        1167    285098   563597
33  2014           2        1203   1253912  6270036
34  2014           3        1239    611041  2571401
35  2014           4        1275   1721560  8586555
36  2014           5        1311    977571  5148280
37  2014           6        1347    465406  1965627
38  2014           7        1383    478340  2110892
39  2014           8        1419    349161  1221501

In [9]:
overall.to_csv('../data/trends_yearly.csv')

In [39]:
pd.read_csv('nationality_trends')

FileNotFoundError: [Errno 2] No such file or directory: 'nationality_trends'