In [1]:
import pandas as pd
import numpy as np

In [2]:
nationalityTrends2010=pd.read_excel(io='../real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [3]:

nationalityTrends2011=pd.read_excel(io='../real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [4]:

nationalityTrends2012=pd.read_excel(io='../real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [5]:
nationalityTrends2013=pd.read_excel(io='../real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [6]:
nationalityTrends2014=pd.read_excel(io='../real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [7]:
nationalityTrends2015=pd.read_excel(io='../real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [8]:
nationalityTrends2016=pd.read_excel(io='../real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [9]:
nationalityTrends2017=pd.read_excel(io='../real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [10]:
nationalityTrends2018=pd.read_excel(io='../real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [11]:
nationalityTrends2019=pd.read_excel(io='../real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [12]:
nationalityTrends2020=pd.read_excel(io='../real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Nationality')

In [13]:
nationalityTrends2010["Year"] = 2010
nationalityTrends2011["Year"] = 2011
nationalityTrends2012["Year"] = 2012
nationalityTrends2013["Year"] = 2013
nationalityTrends2014["Year"] = 2014
nationalityTrends2015["Year"] = 2015
nationalityTrends2016["Year"] = 2016
nationalityTrends2017["Year"] = 2017
nationalityTrends2018["Year"] = 2018
nationalityTrends2019["Year"] = 2019
nationalityTrends2020["Year"] = 2020

In [14]:
nationalityTrends = pd.concat([nationalityTrends2010, nationalityTrends2011, nationalityTrends2012, nationalityTrends2013, nationalityTrends2014, nationalityTrends2015, nationalityTrends2016, nationalityTrends2017, nationalityTrends2018, nationalityTrends2019, nationalityTrends2020], ignore_index=True)

In [15]:
nationalityTrends = nationalityTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Gemeinde": "District", "nationaggr3_desc": "Nationality", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [16]:
nationalityTrends = nationalityTrends.fillna(method='ffill', axis=0)

In [17]:
nationalityTrends['Nationality'] = nationalityTrends['Nationality'].replace({'Andere Länder': 'Other countries', 'Beneluxstaaten': 'Benelux countries', 'Deutschland': 'Germany', 'Italien': 'Italy', 'Schweiz und Liechtenstein': 'Switzerland and Liechtenstein', 'Österreich': 'Austria'})

In [18]:
# Wipptal - Alta Valle Isarco
nationalityTrends['District'] = nationalityTrends['District'].replace({'Brenner': 'Alta Valle Isarco', 'Franzensfeste': 'Alta Valle Isarco', 'Freienfeld': 'Alta Valle Isarco', 'Pfitsch': 'Alta Valle Isarco', 'Ratschings': 'Alta Valle Isarco', 'Sterzing': 'Alta Valle Isarco'})

In [19]:
# Pustertal - Val Pusteria
nationalityTrends['District'] = nationalityTrends['District'].replace({'Abtei': 'Val Pusteria', 'Ahrntal': 'Val Pusteria', 'Bruneck': 'Val Pusteria', 'Corvara': 'Val Pusteria', 'Enneberg': 'Val Pusteria', 'Gais': 'Val Pusteria', 'Gsies': 'Val Pusteria', 'Innichen': 'Val Pusteria', 'Kiens': 'Val Pusteria', 'Mühlwald': 'Val Pusteria', 'Niederdorf': 'Val Pusteria', 'Olang': 'Val Pusteria', 'Percha': 'Val Pusteria', 'Pfalzen': 'Val Pusteria', 'Prags': 'Val Pusteria', 'Prettau': 'Val Pusteria', 'Rasen-Antholz': 'Val Pusteria', 'Sand in Taufers': 'Val Pusteria', 'St.Lorenzen': 'Val Pusteria', 'St.Martin in Thurn': 'Val Pusteria', 'Sexten': 'Val Pusteria', 'Terenten': 'Val Pusteria', 'Toblach': 'Val Pusteria', 'Vintl': 'Val Pusteria', 'Welsberg-Taisten': 'Val Pusteria', 'Wengen': 'Val Pusteria'})

In [20]:
# Eisacktal - Valle Isarco
nationalityTrends['District'] = nationalityTrends['District'].replace({'Brixen': 'Valle Isarco', 'Barbian': 'Valle Isarco', 'Feldthurns': 'Valle Isarco', 'Klausen': 'Valle Isarco', 'Lajen': 'Valle Isarco', 'Lüsen': 'Valle Isarco', 'Mühlbach': 'Valle Isarco', 'Natz-Schabs': 'Valle Isarco', 'Rodeneck': 'Valle Isarco', 'Vahrn': 'Valle Isarco', 'Villanders': 'Valle Isarco', 'Villnöss': 'Valle Isarco', 'Waidbruck': 'Valle Isarco'})

In [21]:
# Salten-Schlern - Salto-Schiliar
nationalityTrends['District'] = nationalityTrends['District'].replace({ 'Wolkenstein in Gröden': 'Salto-Schiliar', 'Deutschnofen': 'Salto-Schiliar', 'Jenesien': 'Salto-Schiliar', 'Karneid': 'Salto-Schiliar', 'Kastelruth': 'Salto-Schiliar', 'Mölten': 'Salto-Schiliar', 'Ritten': 'Salto-Schiliar', 'St.Christina in Gröden': 'Salto-Schiliar', 'St.Ulrich': 'Salto-Schiliar', 'Sarntal': 'Salto-Schiliar', 'Tiers': 'Salto-Schiliar', 'Völs am Schlern': 'Salto-Schiliar', 'Welschnofen': 'Salto-Schiliar'})

In [22]:
# Uberetsch-Unterland - Oltradige-Bassa Ates.
nationalityTrends['District'] = nationalityTrends['District'].replace({'Eppan a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kaltern a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Aldein': 'Oltradige-Bassa Ates.', 
                                             'Altrei': 'Oltradige-Bassa Ates.', 
                                             'Auer': 'Oltradige-Bassa Ates.', 
                                             'Branzoll': 'Oltradige-Bassa Ates.', 
                                             'Kurtatsch a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Kurtinig a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Leifers': 'Oltradige-Bassa Ates.', 
                                             'Margreid a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Montan': 'Oltradige-Bassa Ates.', 
                                             'Neumarkt': 'Oltradige-Bassa Ates.', 
                                             'Pfatten': 'Oltradige-Bassa Ates.', 
                                             'Salurn': 'Oltradige-Bassa Ates.', 
                                             'Tramin a.d. Weinstr.': 'Oltradige-Bassa Ates.', 
                                             'Truden im Naturpark': 'Oltradige-Bassa Ates.', 
                                             'Andrian': 'Oltradige-Bassa Ates.', 
                                             'Terlan': 'Oltradige-Bassa Ates.'})

In [23]:
# Burggrafenamt - Burgraviato
nationalityTrends['District'] = nationalityTrends['District'].replace({'Algund': 'Burggrafenamt',
'Burgstall': 'Burggrafenamt',
'Gargazon': 'Burggrafenamt',
'Hafling': 'Burggrafenamt',
'Kuens': 'Burggrafenamt',
'Lana': 'Burggrafenamt',
'Laurein': 'Burggrafenamt',
'Marling': 'Burggrafenamt',
'Meran': 'Burggrafenamt',
'Moos in Passeier': 'Burggrafenamt',
'Nals': 'Burggrafenamt',
'Naturns': 'Burggrafenamt',
'Partschins': 'Burggrafenamt',
'Plaus': 'Burggrafenamt',
'Proveis': 'Burggrafenamt',
'Riffian': 'Burggrafenamt',
'St.Leonhard in Passeier': 'Burggrafenamt',
'St.Martin in Passeier': 'Burggrafenamt',
'St.Pankraz': 'Burggrafenamt',
'Schenna': 'Burggrafenamt',
'Tirol': 'Burggrafenamt',
'Tisens': 'Burggrafenamt',
'Tscherms': 'Burggrafenamt',
'Ulten': 'Burggrafenamt',
'U.L.Frau i.W.-St.Felix': 'Burggrafenamt',
'Vöran': 'Burggrafenamt'})

In [24]:
# Vinschgau - Val Venosta
nationalityTrends['District'] = nationalityTrends['District'].replace({ 'Glurns': 'Val Venosta', 
                                             'Graun im Vinschgau': 'Val Venosta', 
                                             'Kastelbell-Tschars': 'Val Venosta', 
                                             'Laas': 'Val Venosta', 
                                             'Latsch': 'Val Venosta', 
                                             'Mals': 'Val Venosta', 
                                             'Martell': 'Val Venosta', 
                                             'Prad am Stilfser Joch': 'Val Venosta',  
                                             'Schluderns': 'Val Venosta', 
                                             'Schnals': 'Val Venosta', 
                                             'Stilfs': 'Val Venosta', 
                                             'Taufers im Münstertal': 'Val Venosta'})

In [25]:
# Bozen - Bolzano
nationalityTrends['District'] = nationalityTrends['District'].replace({'Bozen': 'Bolzano'})

In [26]:
nationalityTrends['district_c'] = nationalityTrends['District'].replace({'Bolzano': 1, 'Burggrafenamt': 2, 'Valle Isarco': 3, 'Val Pusteria': 4, 'Salto-Schiliar': 5, 'Oltradige-Bassa Ates.': 6, 'Val Venosta': 7, 'Alta Valle Isarco': 8, 'Schlanders': 7})

In [27]:
nationalityTrends["AverageStay"] = nationalityTrends["Present"] / nationalityTrends["Arrivals"]
nationalityTrends.replace([np.inf, -np.inf], 0, inplace=True)

In [33]:
pd.options.display.float_format = "{:.2f}".format

In [34]:
nationalityTrends.describe()

,Month,Day,Arrivals,Present,Year,district_c,AverageStay
count,2220455.00,2220455.00,2220455.00,2220455.00,2220455.00,2220455.00,2147930.00
mean,6.53,15.73,31.72,146.97,2014.94,4.41,4.94
std,3.30,8.85,93.54,403.60,3.11,1.87,10.81
min,1.00,1.00,0.00,0.00,2010.00,1.00,0.00
25%,4.00,8.00,0.00,6.00,2012.00,3.00,1.00
50%,7.00,16.00,5.00,24.00,2015.00,4.00,2.52
75%,9.00,23.00,22.00,98.00,2018.00,6.00,5.50
max,12.00,31.00,3597.00,8606.00,2020.00,8.00,1427.00

In [29]:
nationalityTrends.to_csv("../data/presences_simulation.csv")

In [41]:
groupNationalityTrends = nationalityTrends[(nationalityTrends["Year"] == 2019) & (nationalityTrends["Month"] == 1) & (nationalityTrends["Nationality"] == 'Italy' ) & (nationalityTrends["district_c"] == 1 ) ]

In [44]:
groupNationalityTrends.describe()

       Month   Day  Arrivals  Present    Year  district_c  AverageStay
count  31.00 31.00     31.00    31.00   31.00       31.00        31.00
mean    1.00 16.00    451.77   986.29 2019.00        1.00         2.36
std     0.00  9.09    260.37   479.81    0.00        0.00         0.65
min     1.00  1.00    120.00   396.00 2019.00        1.00         1.34
25%     1.00  8.50    301.00   645.50 2019.00        1.00         1.96
50%     1.00 16.00    367.00   775.00 2019.00        1.00         2.36
75%     1.00 23.50    636.50  1433.00 2019.00        1.00         2.72
max     1.00 31.00   1148.00  2010.00 2019.00        1.00         4.30

In [30]:
groupNationalityTrends.describe()

       Month  Day  Arrivals  Present  Year  district_c  AverageStay
count    0.0  0.0       0.0      0.0   0.0         0.0          0.0
mean     NaN  NaN       NaN      NaN   NaN         NaN          NaN
std      NaN  NaN       NaN      NaN   NaN         NaN          NaN
min      NaN  NaN       NaN      NaN   NaN         NaN          NaN
25%      NaN  NaN       NaN      NaN   NaN         NaN          NaN
50%      NaN  NaN       NaN      NaN   NaN         NaN          NaN
75%      NaN  NaN       NaN      NaN   NaN         NaN          NaN
max      NaN  NaN       NaN      NaN   NaN         NaN          NaN