In [2]:
import pandas as pd

In [3]:
categoryTrends2010=pd.read_excel(io='real_data/2010 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [4]:

categoryTrends2011=pd.read_excel(io='real_data/2011 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [5]:

categoryTrends2012=pd.read_excel(io='real_data/2012 ARR PRES GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [6]:
categoryTrends2013=pd.read_excel(io='real_data/2013 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [7]:
categoryTrends2014=pd.read_excel(io='real_data/2014 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [8]:
categoryTrends2015=pd.read_excel(io='real_data/2015 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [9]:
categoryTrends2016=pd.read_excel(io='real_data/2016 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [10]:
categoryTrends2017=pd.read_excel(io='real_data/2017 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [11]:
categoryTrends2018=pd.read_excel(io='real_data/2018 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [12]:
categoryTrends2019=pd.read_excel(io='real_data/2019 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [13]:

categoryTrends2020=pd.read_excel(io='real_data/2020 ARR PRE GG gem naz cat.xlsx', 
                          sheet_name='Category')

In [14]:
categoryTrends2010["Year"] = 2010
categoryTrends2011["Year"] = 2011
categoryTrends2012["Year"] = 2012
categoryTrends2013["Year"] = 2013
categoryTrends2014["Year"] = 2014
categoryTrends2015["Year"] = 2015
categoryTrends2016["Year"] = 2016
categoryTrends2017["Year"] = 2017
categoryTrends2018["Year"] = 2018
categoryTrends2019["Year"] = 2019
categoryTrends2020["Year"] = 2020

In [46]:
categoryTrends = pd.concat([categoryTrends2010, categoryTrends2011, categoryTrends2012, categoryTrends2013, categoryTrends2014, categoryTrends2015, categoryTrends2016, categoryTrends2017, categoryTrends2018, categoryTrends2019, categoryTrends2020], ignore_index=True)

In [47]:
categoryTrends = categoryTrends.rename(columns={"Mese di riferimento": "Month", "Giorno di riferimento": "Day", "Beschreibung Bezirksgemeinschaft": "District", "ctt1aggr_desc": "Category", "Arrivi del giorno": "Arrivals", "Presenti del giorno": "Present"})

In [48]:
categoryTrends = categoryTrends.fillna(method='ffill', axis=0)

In [49]:
categoryTrends['district_c'] = categoryTrends['District'].replace({'Bozen': 1, 'Burggrafenamt': 2, 'Eisacktal': 3, 'Pustertal': 4, 'Salten-Schlern': 5, 'Überetsch-Südt.Unterl.': 6, 'Vinschgau': 7, 'Wipptal': 8})

In [50]:
categoryTrends['Category'] = categoryTrends['Category'].replace({'1-2 Sterne': '1-2 Star Hotel', '3 Sterne': '3 Star Hotel', '4-5 Sterne': '4-5 Star Hotel', 'Andere Betriebe': 'Other', 'Privatquartiere': 'Private Lodging', 'Urlaub auf dem Bauernhof': 'Agricaltural Lodging', 'Campingplätze': 'Campings', 'Residence': 'Residence', 'Privatquartiere mit Vertrag': 'Private Lodging'})

In [51]:
categoryTrends = categoryTrends.groupby(['Year','Month', 'district_c', 'Category']).sum()
del categoryTrends["Day"]
categoryTrends

                                            Arrivals  Present
Year Month district_c Category
2010 1.0   1          1-2 Star Hotel            1356     6728
                      3 Star Hotel              4941     9768
                      4-5 Star Hotel            7265    14385
                      Agricaltural Lodging        79      393
                      Other                      867     1651
...                                              ...      ...
2020 12.0  8          3 Star Hotel              1252     2862
                      4-5 Star Hotel            1811     3316
                      Agricaltural Lodging       105      628
                      Private Lodging             22      520
                      Residence                  242     1418

[6297 rows x 2 columns]

In [52]:
categoryTrends.to_csv('category_trends.csv')

In [53]:
districtTrends = pd.read_csv('category_trends.csv')

In [54]:
districtTrends = districtTrends.groupby(['Year','Category', 'district_c']).sum()
del districtTrends['Month']

In [56]:
districtTrends

                                Arrivals  Present
Year Category       district_c
2010 1-2 Star Hotel 1              22044    92518
                    2              89060   489974
                    3              74152   357277
                    4             195894  1072208
                    5              64669   340983
...                                  ...      ...
2020 Residence      4             144308   909884
                    5              58965   381895
                    6               9506    83261
                    7              39017   222617
                    8               7387    50753

[533 rows x 2 columns]

In [57]:
districtTrends.to_csv('category_trends_yearly.csv')

In [60]:
overall = pd.read_csv('category_trends_yearly.csv')
overall = overall.groupby(['Year', 'district_c']).sum()

In [61]:
overall.to_csv('trends_yearly.csv')